.header {
    &__search {
        display: flex;
        padding: 1rem;
        border-radius: 3.125rem;
        border: 0.0625rem solid #ccc;

        &-icon {
            width: 1.5625rem;
            margin-right: 0.5rem;
        }

        &-input {
            outline: none;
            border: none;
        }
    }
}