@use './../../styles/mixins.scss' as *;
@use './../../styles/variables.scss' as *;

.collection {
    margin: 0 auto;
    padding: $site-padding;

    @include tablet {
        max-width: 90%;
    }

    &__nav {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
    }

    &__group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__headings {
        padding: 1rem;
    }

    &__header {
        @include heading;
        color: $color-accent;
        margin-bottom: 2rem;
    }

    &__subheader {
        @include nav-text;
        margin-top: 2rem;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__clear {
        @include nav-text;
        color: $color-accent;

        &:hover {
            color: $color-quarternary;
        }
    }
}