@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.grid {
    width: 100%;
    margin: 0 auto;

    &__grid {
        @include letter;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $site-padding;

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
        }

        @include desktop {
            grid-template-columns: repeat(4, 1fr);
        }

        &--single {
            grid-template-columns: 1fr;
            max-width: calc($letter-width / 2);

            @include tablet {
                max-width: calc($letter-width / 3);
            }

            @include desktop {
                max-width: calc($letter-width / 4);
            }
        }
    }

    &__heading {
        @include subheading;
        @include letter;
        padding-bottom: 3rem;
    }

    &__placeholder {
        aspect-ratio: 3 / 4;
    }
}