@use './mixins' as *;
@use './variables' as *;

html {
    font-size: 100%;
}

body {
    @include body-text;
    font-family: $body-font;
    color: $color-primary;
    text-align: center;
}

h1 {
    font-size: var(--text-heading-size);
    font-weight: 600;
}