$small-device-breakpoint: 390px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

:root {
    --site-padding: 1rem;
    --letter-width: 25rem;

    --text-logo-size: 2.5rem;
    --text-heading-size: 2rem;
    --text-subheading-size: 1.25rem;
    --text-card-label-size: 1.125rem;
    --text-search-size: 1rem;
    --text-body-size: 1.25rem;
    --text-nav-size: 1.25rem;
    --text-bodysmall-size: 1rem;
    --text-small-size: 0.75rem;

    @media (max-width: $small-device-breakpoint) {
        --text-small-size: 0.6875rem;
    }

    @media (min-width: $tablet-breakpoint) {
        --site-padding: 2rem;
        --letter-width: 50rem;

        --text-logo-size: 2.75rem;
        --text-heading-size: 2.25rem;
        --text-subheading-size: 1.5rem;
        --text-card-label-size: 0.95rem;
        --text-search-size: 1rem;
        --text-body-size: 1.25rem;
        --text-bodysmall-size: 1.25rem;
        --text-nav-size: 1.25rem;
        --text-small-size: 1rem;
    }

    @media (min-width: $desktop-breakpoint) {
        --letter-width: 55rem;
        --text-bodysmall-size: 1.5rem;
    }
}

$title-font: 'Agbalumo', Helvetica, Arial, sans-serif;
$body-font: 'Roboto', Helvetica, Arial, sans-serif;

$site-padding: var(--site-padding);
$letter-width: var(--letter-width);

$color-primary: #333;
$color-secondary: #F9F9F9;
$color-accent: #B2B2B2;
$color-accent-secondary: #72C49E;
$color-accent-tertiary: #EEE;
$color-highlight: #FFF;
$color-tertiary: #FBAE17;
$color-quarternary: #F8AC9C;

$valid: $color-accent-secondary;
$invalid: $color-quarternary;