@use './../../styles/mixins.scss' as *;
@use './../../styles/variables.scss' as *;

.servings {
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.25rem;
    background-color: $color-accent-tertiary;
    font-weight: 600;
    gap: 0.25rem;

    @include tablet {
        border-radius: 1.5rem;
        font-size: 1.25rem;
        padding: 1rem 2rem;
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}