@use './../../styles/mixins.scss' as *;
@use './../../styles/variables.scss' as *;

.item {
    width: 100%;
    min-width: fit-content;
    margin: 0 auto;
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-highlight;
    border-radius: 1rem;
    gap: 1rem;

    @include tablet {
        padding: 1rem 1.5rem;
    }

    &__item {
        @include small-text;
        line-height: 1.25rem;

        @include tablet {
            line-height: 1.75rem;
        }

        &:nth-child(1) {
            flex: 1 1 25%;

            @include tablet {
                flex: 1 1 10%;
            }
        }

        &:nth-child(2) {
            flex: 1 1 35%;
            padding-left: 0.25rem;

            @include tablet {
                padding-left: 3rem;
            }
        }

        &:nth-child(3) {
            flex: 1 1 25%;
        }

        &:nth-child(4) {
            flex: 1 1 8%;

            @include tablet {
                flex: 1 1 10%;
            }
        }
    }

    &__image {
        max-width: 2.5rem;

        @include tablet {
            max-width: 4.375rem;
        }
    }

    &__name,
    &__amount {
        text-align: left;
    }

    &__amount {
        font-weight: bold;
    }

    &__checkbox {
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        border: 0.0625rem solid $color-accent;
        min-width: 1.25rem;
        min-height: 1.25rem;
        max-width: 1.25rem;
        max-height: 1.25rem;
        border-radius: 0.25rem;
        cursor: pointer;

        @include tablet {
            width: 1.75rem;
            height: 1.75rem;
            max-width: 1.75rem;
            max-height: 1.75rem;
        }

        &--checked {
            background-color: $color-accent-secondary;
            border-color: $color-accent-secondary;

            &::before {
                content: "\2713";
                font-size: 1.2em;
                color: $color-highlight;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}