@use './../../styles/mixins.scss' as *;
@use './../../styles/variables.scss' as *;

.header {
    padding: $site-padding $site-padding 0 $site-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    width: 100%;

    @include tablet {
        // height: 9.7vh;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
    }

    &__logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        min-width: fit-content;

        @include small-device {
            margin: 0 auto;
            gap: 0.0625rem;
            flex-wrap: wrap;
        }

        &-text {
            @include logo;

            @include small-device {
                margin: 0 auto;
            }
        }

        &-img {
            display: flex;
            max-width: 3.75rem;

            @include small-device {
                display: none;
            }
        }
    }

    &__nav {
        display: flex;
        flex-direction: row-reverse;
        gap: 1.5rem;
        margin-top: 1rem;

        @include tablet {
            margin-top: 0;
            gap: 1rem;
        }

        &-link {
            max-width: 2.5rem;
            cursor: pointer;
        }
    }
}