@use './../../styles/mixins.scss' as *;
@use './../../styles/variables.scss' as *;

.signup-form {
    @include form;

    &__group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__input {
        @include input;
    }

    &__button {
        @include button;
        @include form-button;
        color: $color-accent-secondary;
        background-color: transparent;
        border: 0.0625rem solid $color-accent;

        &:hover {
            border: 0.0625rem solid $color-accent-secondary;
        }
    }

    &__message {
        padding: 0.75rem;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        color: $color-quarternary;

        &-error {
            width: 2rem;
        }
    }
}