@use './../../styles/mixins.scss' as *;
@use './../../styles/variables.scss' as *;

.reset-password {
    padding: $site-padding;

    @include form;

    &__input {
        @include input;
    }

    &__button {
        @include button;
        @include form-button;
        color: $color-accent-secondary;
        background-color: transparent;
        border: 0.0625rem solid $color-accent;

        &:hover {
            border: 0.0625rem solid $color-accent-secondary;
        }
    }
}